/* CSS HEX */
--color-1: #00a17f;
--color-2: #fffdfb;
--color-3: #00a8a8;
--color-4: #dcc833;
--color-5: #009ab2;

/* CSS HSL */
--color-1: hsl(167, 100%, 32%);
--color-2: hsl(30, 100%, 99%);
--color-3: hsl(180, 100%, 33%);
--color-4: hsl(53, 71%, 53%);
--color-5: hsl(188, 100%, 35%);

/* SCSS HEX */
$color-1: #00a17f;
$color-2: #fffdfb;
$color-3: #00a8a8;
$color-4: #dcc833;
$color-5: #009ab2;

/* SCSS HSL */
$color-1: hsl(167, 100%, 32%);
$color-2: hsl(30, 100%, 99%);
$color-3: hsl(180, 100%, 33%);
$color-4: hsl(53, 71%, 53%);
$color-5: hsl(188, 100%, 35%);

/* SCSS RGB */
$color-1: rgb(0, 161, 127);
$color-2: rgb(255, 253, 251);
$color-3: rgb(0, 168, 168);
$color-4: rgb(220, 200, 51);
$color-5: rgb(0, 154, 178);
